@font-face {
  font-family: 'GothamRounded-Bold';
  src: url("../fonts/GothamRounded-Bold.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-Book';
  src: url('../fonts/GothamRounded-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('../fonts/GothamRounded-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}