$primari-font-bold: 'GothamRounded-Bold', sans-serif;
$primari-font-book: 'GothamRounded-Book', sans-serif;
$primari-font-medium: 'GothamRounded-Medium', sans-serif;
$first-color: #fff;
$second-color: #16a085;



$services-color: #df5c64;
$about-color: #91778e;
$work-color: #a1ca6c;
$contact-color: #82c8bd;




